.prevNext{
    text-align: center;
}

.cursorPtr{
    cursor: pointer;
}
.pdf-canvas {
    margin: auto;
}

.pdf-viewer-center{
    text-align: center;
    margin: 5px;
}

.textScroll{
    overflow-y: scroll;
    height: 800px;
    width: 1400px;

}

.printIcon{
    margin-left: 20px;
}

.downPrint{
    background-color: unset;
    border-width: 0;
}

.downPrint:hover, .img-zoom-in-out:hover{
    background-color: black;
    border-radius: 10px; /* change the value to adjust the rounding */
    cursor: pointer;
    opacity: 0.6;
}
.fa-download-print {
    color: white;
}
.backButton{
    font-size: 15px;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.disabledButton {
    pointer-events: none;
    opacity: 0.8;
    cursor: not-allowed;
    margin-left: 5px;
}

.backButton:hover {
    color: #1976d2;
    background-color: white;
}
.backButton span {
    margin-left: 5px;
}

.topRight {
    position: absolute;
    top: 20px;
    right: 100px;
    cursor: pointer;

}

.topLeft {
    position: absolute;
    top: 20px;
    left: 100px;
    cursor: pointer;

}

.topCenter {
    position: absolute;
    top: 0px;
    left: 0px;
    cursor: pointer;
    right: 0px;

}

.app {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    flex-grow: 1;
}

.alert {
    padding: 0.75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    text-align: center;
}

.alert-danger {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}

.alert-dismissible {
    position: relative;
    padding-right: 3rem;
}

.alert-dismissible .btn-close {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    margin: 10px;
    cursor: pointer;
    color: inherit;
}

.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.img-zoom-in-out {
    background-color: unset;
    border-width: 0;
    color: white;
}
.zoom-buttons {
    padding: 10px;
    margin: 5px;
    border-radius: 25px;
    background-color: rgb(13 12 12 / 38%)
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
}
